@charset "UTF-8";

/* --------------------------------------------------------------
	body
-------------------------------------------------------------- */

body {
    margin: 0;
	background-color: #ffffff;
    overflow: hidden;
}

#ThreeJS {
	position: absolute;
	left: 0;
	top:0	
}
